export const environment = {
  production: true,
  apiBaseUrl: '${API_BASE_URL}/api',
  oauth: {
    redirectUri: '${OAUTH_REDIRECT_URI}',
    github: {
      clientId: '${OAUTH_GITHUB_CLIENT_ID}',
      scope: 'user:email read:user'
    }
  }
};
